@{
    ViewBag.Title = "Home Page";
}

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="image-opacity"></div>
            <img class="first-slide" src="~/Content/img/01.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Calidad</h1>
                    <p>Disfruta de los ingredientes de más alta calidad en nuestras pizzas</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image-opacity"></div>
            <img class="second-slide" src="~/Content/img/02.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Promociones</h1>
                    <p>Aprovecha nuestras promociones</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image-opacity"></div>
            <img class="third-slide" src="~/Content/img/03.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Variedad</h1>
                    <p>Prueba nuestros diferentes tipos de pizza</p>

                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->