@using P2.Utils;

@if (Utilities.LoggedUser != null)
{
 
    
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Manage" href="#">
                    Hola @Utilities.LoggedUser.FullName !
                </a>
            

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
           
        </ul>
    }
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
